# {{ ansible_managed }}
[Interface]
Address = 10.1.0.1/24
ListenPort = 5555
PrivateKey = {{ lookup('ini', 'server.privkey type=properties file=secrets.ini') }}
PostUp = iptables -t nat -I PREROUTING -i eth0 -p udp -m multiport --dports 53,123,3389  -j REDIRECT --to-ports 5555; iptables -I FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; ip6tables -I FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D PREROUTING -i eth0 -p udp -m multiport --dports 53,123,3389  -j REDIRECT --to-ports 5555; iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ lookup('ini', 'client.pubkey type=properties file=secrets.ini') }}
AllowedIPs = 10.1.0.2/32    # static ip
